/*colors*/
$white-color: #ffffff;
$background-color: #d6d6ef;
$primary-color: #293c78;
$secondary-color: #8e2562;
$bisque-color: #ffe4c4;
$blue-color: #0200f2;
$blue-light-color: #d6d6ef;
$red-color: #ff0002;
$red-light-color: #ffe3e3;
$pink-color: #dc7273;
$purple-color: #9e19af;